html {
  font-size: 62.5%;
}

body {
  font-size: 1.6rem;
  font-family: 'Montserrat', sans-serif;
  color:$sc;
}

.btn, a {
  background-color:$pc;
  color:$white;
  border-radius: 20px;
  padding: 10px 45px;
}

.nav {
  background-color:$pc;
  li:hover {
    background-color:$sc;
  }
}

.mapImage {
  background: url('../assets/Pelham.jpg'), linear-gradient(#E54054, #E54054);
  background-size:cover;
}

.hero {
  background: url('../assets/wideshotChurch.jpg') center center;
  background-size:cover;
}

.text-logo {
  padding-top:5rem;
  padding-bottom:3rem;
  display:block;
  width:75%;

}

.frame {
  background-image: $sc;
}

.accentBG {
  background-color:$sc;
}

.accent {
  color:$pc;
}
.accentText {
  color:$white;
}

.newline {
  display:block;
}

.whitetext {
  color:$white;
}

.redtext {
  color:$pc;
}

.bottomredline {
  background-color:$pc;
  padding:.5rem;
}

footer {
  background-color:$sc;
  h2 {
    color:$white;
  }
}

.grey {
  background-color:#efefef;
}

.red {
  background-color:$pc;
}

.redText {
  color:$pc;
}

.whiteText {
  color:$white;
}

.underline {
  display:inline-block;
  padding-left:1rem;
  padding-right:1rem;
  border-bottom: 3px solid $white;
}

.underlineRed {
  border-bottom-color: $pc;
}

.give {
  background: url('../assets/givingBasket.jpg') center center no-repeat cover;
  padding:20rem;
}

.inside {
  background: url('../assets/insideChurch.jpg') center center no-repeat;
  background-size:cover;
  padding:20rem;
}

img,i {
  display:block;
  margin:auto;
}

.highlight {
  color:$pc;
  text-decoration: underline;
}

.pdtop {
  padding-top:10rem;
}

.pdbtm {
  padding-bottom:10rem;
}

.CTA {
  margin-bottom: 5rem;
}

.ministry, .accentBG,.center-align {
  text-align:center;
}

.bold {font-weight:bold;}

.ministry {
  background-color:transparent;
  color:$sc;
}

.ministryDescription { background-color:$pc;}

.img-thumbnail {
  background-color:$sc;
  border:none;
  border-radius:0;
  padding:6px;
}

.pdt2 { padding-top:2rem;}
.pdt3 { padding-top:3rem;}
.pdt5 { padding-top:5rem;}
.pdt10 { padding-top:10rem;}
